@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
:root {
    --bs-primary: #171717;
    --bs-secondary: #1f1f1f;
    --bs-ternary: rgb(73, 220, 250);
    --bs-white: #ffffff;
}


body {
    background-color: var(--bs-primary);
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--bs-white);
 }
    

a {
    text-decoration: none;
    color: var(--bs-white);
}

a:hover {
    color: var(--bs-ternary);
}

.list-group-item {
    background-color: var(--bs-secondary);
    padding: 30px;
    color: var(--bs-white);
    margin-left: 5px;
}

.card {
    background-color: var(--bs-secondary);
}

.Updates {
    border-left: 5px solid rgb(255, 57, 57);
}

.Anime {
    border-left: 5px solid rgb(79, 128, 233)
}

.Manga {
    border-left: 5px solid rgb(255, 153, 0)
}

.Movies {
    border-left: 5px solid rgb(250, 100, 137)
}

.Games {
    border-left: 5px solid rgb(69, 225, 58)
}

.Music {
    border-left: 5px solid rgb(167, 84, 167)
}

.Off-topic {
    border-left: 5px solid grey
}

.btn {
    background-color: var(--bs-ternary);
}

.nav .register {
    border: 1px solid var(--bs-secondary);
    padding: 6px;
    border-radius: 5px;
    background-color: var(--bs-ternary);
}

.nav .register a{
    color: var(--bs-secondary);
}

.nav .register a:hover {
    color: var(--bs-white);
}
.nav .login {
    border: 1px solid var(--bs-white);
        padding: 5px;
        border-radius: 5px;
}

.nav i{
    margin-right: 3px;
}

.login-box {
    color: var(--bs-ternary);
}

.login-box button {
    color:var(--bs-primary);
}

.register-container {
    margin-top: 75px;
}